@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

body{
    .header-adoptar{
        @include hero;
        /*ESTILOS NAV BAR*/
    nav a {
        color: rgb(209, 140, 178);
        text-decoration: none;
        font-weight: bolder;
    }
    .bg-light {
        background-color: white !important;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        list-style: none;
        display: flex;
        gap: 60px;
        width: 100%;
    .navbar-item a:hover{
        background-color: $color-principal;
        color: white;
        border-radius: 50px;
        text-transform: uppercase;
        border-style: solid;
        border-width: 5px;
        padding: 10%;
    .container-fluid{
        background-color: white;
    .navbar-toggler:hover{
        color: rgb(209, 140, 178);
    }          
    } 
    }
    }
    }

    .hero-tres{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        line-height: 130%;
        font-size: 140%;
        font-weight:bold;
        padding: 0rem 2rem;
        margin-top: 7rem;
        width: 100%;
        height: 30vh;
        color: white;
        background-image: url(../img/banner3-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;

        .text-focus-in {
            @extend %animacion;
        }
        /* animation text-focus-in*/
        @-webkit-keyframes text-focus-in {
            0% {
            -webkit-filter: blur(12px);
                    filter: blur(12px);
            opacity: 0;
            }
            100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
            }
        }
        @keyframes text-focus-in {
            0% {
            -webkit-filter: blur(12px);
                    filter: blur(12px);
            opacity: 0;
            }
            100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
            }
        }
    }

    #lista-uno{
        .container {
        @extend %container;
        align-items: center;
        padding-top: 2rem;
        .img-container1{
            background-image: url(../img/requisitos1.png);
            background-size: cover;
            background-position: center center;
            height: 45vh;
            width: 85%;
        }
        .texto-requisitos1 {
            @include txt-requisitos;
            p{
                padding: 0px;
                margin: 0px;
                font-size: 0.9rem;
            }
        .title-requisitos{
            font-size: 1.1rem;
            font-weight: bold;
            color: $color-principal;
        }
        }
        }
    }
    #lista-dos {
        .container{
            @extend %container;
            align-items: center;
        .img-container2{
            background-image: url(../img/requisitos2.png);
            background-size: cover;
            background-position: center center;
            height: 45vh;
            width: 85%;}
        .texto-requisitos2{
            @include txt-requisitos;
            p{
                margin: 0px;
                font-size: 0.9rem;
            }
        }
        }
    }
    #lista-tres{
        .container{
            @extend %container;
            align-items: center;
        .img-container3{
            background-image: url(../img/requisitos3.png);
            background-size: cover;
            background-position: center center;
            height: 45vh;
            width: 85%;
        }  
        .texto-requisitos3{
            @include txt-requisitos;
            p{
                margin: 0px;
                font-size: 0.9rem;
            }
            ul{
                margin: 0%;
                padding-left: 0.4rem;
                li{
                    list-style: none;
                    padding: 0.5rem 0rem;
                    font-size: 0.9rem;
                }
            }
        }
        }

        
    } 
    #carouselExampleCaptions{
        .carousel-indicators {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            padding: 0;
            margin-right: 15%;
            margin-bottom: 1rem;
            margin-left: 15%;
            list-style: none;
        }

    }

}




/*media querys*/
@media screen and (min-width: 768px){

    body{
        main{
            h3{
                font-weight: bold;
            }
            .hero-tres{
                padding: 2rem 5rem;
                margin-top: 7rem;
                height: 40vh;
                font-size: 220%;
                background-image: url(../img/banner3.png);
            }
                /*ESTILOS LISTA DE REQUISITOS*/
                #lista-uno{
                    .container {
                        display: flex;
                        flex-direction: row-reverse;
                        padding-top: 3rem;
                        padding-bottom: 6rem;
                    .img-container1{
                        height: 600px;
                        width: 400px;
                    }
                    .texto-requisitos1 {
                        width: 50%;
                        font-size: 85%;
                        text-align: initial;
                        padding: 0rem 1.5rem;
                        p{
                            font-size: 0.8rem;
                        }
                    }
                    }
                }
                
                #lista-dos {
                    .container{
                        flex-direction: row;
                        padding-bottom: 6rem;
                    .img-container2{
                        height: 600px;
                        width: 400px;
                    }
                    .texto-requisitos2{
                        width: 50%;
                        font-size: 85%;
                        text-align: end;
                        padding: 0rem 1.5rem;
                        display: flex;
                        flex-direction: column;
                        p{
                            font-size: 0.8rem;
                        }
                    }
                    }
                }
    
                #lista-tres{
                    .container{
                        flex-direction: row-reverse;
                        padding-bottom: 3rem;
                    .img-container3{
                        height: 600px;
                        width: 400px;
                    }  
                    .texto-requisitos3{
                        width: 50%;
                        font-size: 85%;
                        text-align: initial;
                        padding: 0rem 1.5rem;
                        display: flex;
                        flex-direction: column;
                        ul{
                            li{
                                padding: 0.5rem 0rem;
                                font-size: 0.8rem;
                            }
                        }

                    }
                    }
                } 
                .d-md-block{
                    font-size: 0.9rem;
                } 
        }
        footer{
            .container-footer{
                .sec .info {
                    font-size: 1rem;
                    padding-right: 2rem;
                }

            }

        } 
    }
}

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px){
    
    body{
        h1{
            font-size: 2.7em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        h2{
            font-size: 2em;
        }
        
        h3{
            font-size: 2em;
        }

        /*ESTILOS NAVBAR*/
        .header-adoptar{
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: flex-end;
                list-style: none;
                display: flex;
                gap: 60px;
                width: 100%;
                padding: 1rem 3rem;

            }
        }
        main{
            .hero-tres{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: start;
                font-size: 4.7rem;
                line-height: 130%;
                padding: 0rem 5rem;
                width: 100%;
                height: 62vh;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/banner3.png);
            }

            /*estilos texto under hover*/
            .info-main{
                width: 100%;
                .texto-centrado{
                    font-size: 150%;
                    align-items: center;
                    justify-items: center;
                    width: 80%;
                }
            }

            /*ESTILOS LISTA DE REQUISITOS*/
            #lista-uno{
                .container {
                    display: flex;
                    flex-direction: row-reverse;
                    padding-top: 3rem;
                    padding-bottom: 2rem;
                .img-container1{
                    height: 600px;
                    width: 500px;
                }
                .texto-requisitos1 {
                    width: 50%;
                    font-size: 105%;
                    text-align: initial;
                    padding: 0px 30px;
                    padding-left: 30px;
                    .title-requisitos{
                        font-size: 1.6rem;
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
                }
            }
            
            #lista-dos {
                .container{
                    flex-direction: row;
                    padding-bottom: 40px;
                .img-container2{
                    height: 600px;
                    width: 500px;
                }
                .texto-requisitos2{
                    width: 50%;
                    font-size: 105%;
                    text-align: initial;
                    padding: 0px 30px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 30px;
                    p{
                        font-size: 1.1rem;
                    }
                }
                }
            }

            #lista-tres{
                .container{
                    flex-direction: row-reverse;
                    padding-bottom: 40px;
                .img-container3{
                    height: 600px;
                    width: 500px;
                }  
                .texto-requisitos3{
                    width: 50%;
                    text-align: initial;
                    padding: 0px 30px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 30px;
                    ul{
                        li{
                            padding: 0.5rem 0rem;
                            font-size: 1.1rem;
                        }
                    }
                }
                }
            } 
        }
    }
}