@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

body{
    .header-contacto{
        @include hero;
        /*ESTILOS NAV BAR*/
    nav a {
        color: rgb(209, 140, 178);
        text-decoration: none;
        font-weight: bolder;
    }
    .bg-light {
        background-color: white !important;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        list-style: none;
        display: flex;
        gap: 60px;
        width: 100%;
    .navbar-item a:hover{
        background-color: $color-principal;
        color: white;
        border-radius: 50px;
        text-transform: uppercase;
        border-style: solid;
        border-width: 5px;
        padding: 10%;
    .container-fluid{
        background-color: white;
    .navbar-toggler:hover{
        color: #d18cb2;
    }          
    } 
    }
    }
    }
    main{
        .hero-cuatro{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: start;
            flex-direction: column;
            line-height: 130%;
            font-size: 140%;
            font-weight: bold;
            padding: 0rem 2rem;
            margin-top: 7rem;
            width: 100%;
            height: 30vh;
            color: white;
            background-image: url(../img/banner4-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            grid-area: hero-uno;

            .text-focus-in {
                @extend %animacion;
            }
            /* animation text-focus-in*/
            @-webkit-keyframes text-focus-in {
                0% {
                -webkit-filter: blur(12px);
                        filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-filter: blur(0px);
                        filter: blur(0px);
                opacity: 1;
                }
            }
            @keyframes text-focus-in {
                0% {
                -webkit-filter: blur(12px);
                        filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-filter: blur(0px);
                        filter: blur(0px);
                opacity: 1;
                }
            }
        }
        /*ESTILOS DE FORMULARIO DE CONTACTO*/
        form {
            display: flex;
            margin-top: 0em;}
        .section-form {
            padding-left: 10%;
            padding-right: 10%;
            overflow: hidden;
            .container-form{
                .inf-form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        .container-form {
            width: 100%;
            max-width: 1000px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            margin-top: 30px;
            margin-bottom: 50px;
        .form-1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        .field {
            width: 100%;
            padding: 15px 10px;
            font-size: 15px;
            border: 1px solid #ddbccf;
            margin-bottom: 20px;
            border-radius: 3px;
            outline: 0px;
        }
        .send-button{
            padding: 15px;
            font-size: 15px;
            border: none;
            outline: 0px;
            background: #d27aac;
            color: white;
            border-radius: 3px;
            cursor: pointer;
            transition: all 300ms ease;
        }    
        }
        }
        }
        .boxicon-form{
        fill: #d27aac;
        }   
    }
}


/*media querys*/
/*RESPONSIVE TABLET*/

@media screen and (min-width: 768px) {
    body{
        main{
            .hero-cuatro {
                height: 40vh;
                font-size: 220%;
                margin-top: 7rem;
                padding: 2rem 5rem;
                background-image: url(../img/banner4.png);
            }
        .section-form{
            .container-form{
                .inf-form{
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    .texto-negrita{
                        font-size: 1.2rem;
                    }
                    .sub-redes{
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }

            }
        }
        }
        footer{
            .container-footer{
                .sec .info {
                    font-size: 1rem;
                    padding-right: 2rem;
                }
            }

        } 
    }
}

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px){
    
    body{
        
        h1{
            font-size: 2.7em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
        h2{
            font-size: 2em;
            padding: 0;
            margin: 0;
        }
        
        h3{
            font-size: 2em;
        }

        /*ESTILOS NAVBAR*/
        .header-contacto{
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: flex-end;
                list-style: none;
                display: flex;
                gap: 60px;
                width: 100%;
                padding: 1rem 3rem;

            }
        }
        main{
            .hero-cuatro{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: start;
                font-size: 4.7rem;
                line-height: 130%;
                padding: 0rem 5rem;
                width: 100%;
                height: 62vh;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/banner4.png);
            }

            /*estilos texto under hover*/
            .info-main{
                width: 100%;
                .texto-centrado{
                    font-size: 150%;
                    align-items: center;
                    justify-items: center;
                    width: 80%;
                }
            }

            .texto-negrita{
                margin: 0;
                padding: 0;
            }
            .section-form {
                display: flex;
                flex-direction: row;
                justify-content: center;
            .container-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 80px;
                margin-top: 80px;
                margin-bottom: 80px;
                .inf-form {
                    padding-bottom: 5rem;
                }
            
            }
            }
 
        }
    }
}