@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

body{
    h4{
        color: #9b577e;
    }
    .header-donar{
        @include hero;
        /*ESTILOS NAV BAR*/
    nav a {
        color: rgb(209, 140, 178);
        text-decoration: none;
        font-weight: bolder;
    }
    .bg-light {
        background-color: white !important;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        display: flex;
        gap: 60px;
        width: 100%;
    .navbar-item a:hover{
        background-color: $color-principal;
        color: white;
        border-radius: 50px;
        text-transform: uppercase;
        border-style: solid;
        border-width: 5px;
        padding: 10%;
    .container-fluid{
        background-color: white;
    .navbar-toggler:hover{
        color: rgb(209, 140, 178);
    }          
    } 
    }
    }
    }

    #hero-cinco{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        line-height: 130%;
        font-size: 140%;
        font-weight:bold;
        padding: 0rem 2rem;
        margin-top: 7rem;
        width: 100%;
        height: 30vh;
        color: white;
        background-image: url(../img/banner5-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;

        .text-focus-in {
            @extend %animacion;
        }
        /* animation text-focus-in*/
        @-webkit-keyframes text-focus-in {
            0% {
            -webkit-filter: blur(12px);
                    filter: blur(12px);
            opacity: 0;
            }
            100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
            }
        }
        @keyframes text-focus-in {
            0% {
            -webkit-filter: blur(12px);
                    filter: blur(12px);
            opacity: 0;
            }
            100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
            }
        }
    }

    #testimonios-adopt {
        display: grid;
        place-items: center;
        height: 15rem;
        padding-bottom: 50rem;
        background: #ddbccf;
        .container-testimonial{
            height: 100vh;
        .section-header{
            position: relative;
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 3rem;
            color: #9b577e;
        :after{
            content: '';
            height: 3px;
            width: 200px;
            position: absolute;
            bottom: -1rem;
            left: calc(50% - 100px);
            background: #9b577e;
        }
        span {
            display: block;
            font-weight: 500;
            font-size: 1rem;
            padding: 0.2rem 1rem;
        }
        }
        .testimonials{
            max-width: 1000px;
            margin: 0 auto 80px auto;
        #carouselExample{
            .carousel-control-next{
                z-index: 0;
            }
            
            .carousel-control-prev {
                z-index: 0;
            }
            .carousel-inner{
                .carousel-item{
                    .single-item{
                        background: #fff;
                        color: #111;
                        padding: 15px;
                        margin: 50px 15px;
                        border-radius: 1rem;
                        .row{
                            .col-md-5{
                                .profile{
                                    margin-bottom: 30px;
                                    text-align: center;
                                    .img-area {
                                        margin: 2rem 1rem 1rem 1rem;
                                        img {
                                            height: 200px;
                                            width: 200px;
                                            border-radius: 50%;
                                            border: 7px solid $color-testimonios;
                                        }
                                    }    
                                }
                            }
                        }  
                    }
                }
            }
            .col-md-6{
                .content{
                    font-size: 0.8rem;;
                    padding: 0rem 1rem;
                p{
                    text-align: center;
                span {
                    font-size: 2rem;
                    font-weight: bold;
                    margin-right: 20px;
                    color: $color-testimonios;
                }  
                }
                }
            }
        }
        }
        }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: #d27aac;
    }
    }
}



/*media querys*/

@media screen and(min-width: 768px){
body{
    #hero-cinco{
        height: 40vh;
        font-size: 220%;
        margin-top: 7rem;
        padding: 2rem 5rem;
        background-image: url(../img/banner5.png);
    }

    #testimonios-adopt {
        display: grid;
        place-items: center;
        height: 30rem;
        padding-bottom: 35rem;
        background: #ddbccf;
            .container-testimonial{
            .testimonials{
            #carouselExample{
                .col-md-6{
                    .content{
                        font-size: 1rem;
                        padding: 2rem;
                    }
                }
            }
            }
            }
    }



    footer{
        .container-footer{
            .sec{
                .info {
                    font-size: 1rem;
                    padding-right: 2rem;
                }
            }

        }

    } 
    }
}
    

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px){
    
    body{
        
        h1{
            font-size: 2.7em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
        h2{
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
        
        h3{
            font-size: 2em;
            margin: 0;
        }

        /*ESTILOS NAVBAR*/
        .header-donar{
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                list-style: none;
                display: flex;
                gap: 60px;
                width: 100%;
                padding: 1rem 3rem;
            }
        }
        main{
            #hero-cinco{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: start;
                font-size: 4.7rem;
                line-height: 130%;
                padding: 0rem 5rem;
                margin-top: 7rem;
                width: 100%;
                height: 62vh;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/banner5.png);
            }

            /*estilos texto under hover*/
            .info-main{
                width: 100%;
                .texto-centrado{
                    font-size: 150%;
                    align-items: center;
                    justify-items: center;
                    width: 80%;
                }
            }

            #testimonios-adopt {
                height: 15rem;
                padding-bottom: 40rem;
                .container-testimonial{
                    height: 100vh;
                .section-header{
                    font-size: 2em;
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 1.5rem;
                    padding: 0.2rem 1rem;
                    }
                }
            }
        }

        }
    }
}