@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

body{
    /*ESTILOS NAV BAR*/
    .header-index{
        @include hero;
    nav a {
        color: rgb(209, 140, 178);
        text-decoration: none;
        font-weight: bolder;
    } 
    .bg-light {
        background-color: white !important;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        display: flex;
        gap: 60px;
        width: 100%;
    .navbar-item a:hover{
        background-color: $color-principal;
        color: white;
        border-radius: 50px;
        text-transform: uppercase;
        border-style: solid;
        border-width: 5px;
        padding: 10%; 
    .container-fluid{
        background-color: white;
    .navbar-toggler:hover{
        color: rgb(209, 140, 178);
    }          
    } 
    }
    }
    }

    /*ESTILOS HERO*/
    main{
        #hero{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: start;
            flex-direction: column;
            line-height: 130%;
            font-size: 140%;
            font-weight:bold;
            padding: 0rem 2rem;
            margin-top: 7rem;
            width: 100%;
            height: 30vh;
            color: white;
            background-image: url(../img/banner-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            .text-focus-in {
                @extend %animacion;
            }
            /* animation text-focus-in*/
            @-webkit-keyframes text-focus-in {
                0% {
                -webkit-filter: blur(12px);
                        filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-filter: blur(0px);
                        filter: blur(0px);
                opacity: 1;
                }
            }
            @keyframes text-focus-in {
                0% {
                -webkit-filter: blur(12px);
                        filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-filter: blur(0px);
                        filter: blur(0px);
                opacity: 1;
                }
            }
  
        }
        .info-main{
        .texto-centrado{
            @extend %texto-centrado;
            width: 95%;
        }
        }

        /*GALERIA ADOPCIONES*/
        #adopciones{
            background-color: $color-terciario;
            padding-bottom: 60px;
            align-items: center;
            justify-items: center;
        .las-adopciones{
            font-size: 120%;
            justify-content: center;
            text-align: center;
            margin: auto;
            padding: 2rem 0rem 2rem 0rem;
        h2{
            font-weight: bold;
        }
        h3{
            font-size: 1rem;
        }
        } 

        .galeria{
            display: grid;
            grid-template-columns: repeat(
                auto-fit,
                minmax(
                    300px,
                    1fr
                )
            );
            grid-template-rows: auto;
            gap: 20px;
            align-items: center;
            justify-items: center;
        .galeria-item {
            color: #f2f4f3;
            text-align: center;
            align-items: center;
            background-color: $color-principal;
            border-radius: 5px;
            p{
                font-size: 0.8rem;
            }
        img{
            width: 100%;
            padding-bottom: 0.6rem;

        }
        }      
        }
        } 
    }
}

/*RESPONSIVE TABLET*/
@media screen and (min-width: 768px){
    body{
        main{
            #hero{
                height: 40vh;
                font-size: 220%;
                margin-top: 7rem;
                padding: 2rem 5rem;
                background-image: url(../img/banner.png);
            }
            
            #adopciones{
            .galeria{
                padding: 3rem; 
            }
            }
        }
        footer{
            .container-footer{
                .sec .info {
                    font-size: 1rem;
                    padding-right: 2rem;
                }

            }

        } 
    }
}



/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 1024px){
    body{
        h1{
            font-size: 2.7em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        h2{
            font-size: 2em;
        }
        
        h3{
            font-size: 2em;
        }

        /*ESTILOS NAVBAR*/
        .header-index{
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: flex-end;
                list-style: none;
                display: flex;
                gap: 60px;
                width: 100%;
                padding: 1rem 3rem;

            }
        }
        /*ESTILOS HERO*/
        main{

            #hero{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: start;
                font-size: 4.7rem;
                line-height: 130%;
                padding: 0rem 5rem;
                width: 100%;
                height: 62vh;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: 7rem;
                background-image: url(../img/banner.png);
            }

            /*estilos texto under hover*/
            .info-main{
                width: 100%;
                .texto-centrado{
                    font-size: 100%;
                    align-items: center;
                    justify-items: center;
                    width: 80%;
                }
            }
            #adopciones{
                .las-adopciones{
                    h3{
                        font-size: 120%;
                    }
                } 

            } 
        }
    }

}
